@model projecten.Models.Domain.StageMentor

@{
    ViewBag.Title = "Verwijderen Stagementor";
}

<h2>@ViewBag.Title</h2>

<h3>Weet je zeker dat je de Stagementor @Model.Naam wil verwijderen?</h3>

@using (Html.BeginForm())
{
    <p>
        <input class="linkbutton" type="submit" value="Verwijder" /> |
        @Html.ActionLink("Terug naar lijst", "StageMentoren", null, new {@class="linkbutton"})
    </p>
}
