@using projecten.Models.DAL
@{
    ViewBag.Title = "Welkom";
    var context = new BedrijfContext();
    var rep = new BedrijfRepository(context);
    var bedrijf = rep.FindBy(User.Identity.Name);
    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="subtitle">
                <h1>@ViewBag.Title</h1>

            </hgroup>
        </div>

    </section>
    @if (bedrijf.mentors == null)
    {
        <div class="content-wrapper">
            <h2>Voor u begint!</h2>
            <p>
                @Html.ActionLink("Voeg eerst een stagementor toe", "StageMentorToevoegen", "Bedrijf") voor je aan je stageopdrachten begint.
                
            </p>
        </div>
    }
}
