@{
    ViewBag.Title = "Het project";
}

<hgroup class="subtitle">
    <h1>@ViewBag.Title</h1>
    
</hgroup>

<article>
    <p>info projectwerking	informatie over projectwerking Project I, II en III wordt kenbaar gemaakt op de website

        Dit project heeft de naam InternNet en is momenteel in ontwikkeling. Dit wordt gedaan door de groep Code Constructors.
        Het project heeft zijn toepasselijke naam te danken aan zijn doel. Het doel is het proces van stageopdrachten in diverse
        opleidingen te vergemakkelijken.
    </p>
</article>

<aside>
</aside>