@{
    ViewBag.Title = "Bachelorproef";
    
}

<div class="info">
    <h1 style="
    text-align: center;">@ViewBag.Title</h1>


<p>
    Hier komt de tekst omtrent informatie van de Bachelorproef. De bachelorproef is een grote taak die vaak als een soort eindwerk
    dient voor student die in hun laatste jaar van hun richting zitten. Het is vaak hun laatste obstakel voor ze kunne afstuderen.
</p>
</div>