@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    
</hgroup>

<section class="contact">
    <header>
        <h3>Problemen?</h3>
    </header>
    <p>
        <span class="label">Niels:</span>
        <span><a href="mailto:Support@example.com">depauwniels@hotmail.com</a></span>
    </p>
    <p>
        <span class="label">Laurens:</span>
        <span><a href="mailto:Marketing@example.com">voetballer.laurens@telenet.be</a></span>
    </p>
    <p>
        <span class="label">Dennis:</span>
        <span><a href="mailto:General@example.com">dennisman222@hotmail.com</a></span>
    </p>
    <p>
        <span class="label">Wim:</span>
        <span><a href="mailto:General@example.com">wkwimkwk@live.be</a></span>
    </p>
</section>
