@{
    ViewBag.Title = "index";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                test
            </p>
        </div>
    </section>
}
<h3>test:</h3>
<ol class="round">
    <li class="one">
        <h5>test1</h5>
       test1
         
    <li class="two">
        test2
    </li>

    <li class="three">
       test3
    </li>
</ol>
