@{
    ViewBag.Title = "Welkom";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                
            </hgroup>
        </div>
    </section>
}
<a style ="float: left;" href="http://www.hogent.be/"><img src="/Images/hogent.png"/></a>
<h3>Dit is de Homepagina van de site InternNet</h3>
<p>
    Deze site is gemaakt als een project voor HoGent en wordt gebruikt om de stageregelingen makkelijker te laten verlopen.
    Meer info hierover op de Infopagina.
</p>
<br>
<p>
    Hier kunt u zich registreren als een bedrijf om uiteindelijk jouw stageopdrachten en stagementoren toe te voegen. 
    Als u een student of begeleider bent kunt u zich gewoon direct inloggen door eerst je wachtwoord te veranderen.
    Als student kan je kiezen uit verschillende stageopdrachten tot je een gevonden hebt die bij je past. Als begeleider
    kan je ook kiezen uit de verschillende stageopdrachten tot je jouw favoriet(en) gevonden hebt.
</p>

