@{
    ViewBag.Title = "Projecten I";
    
}
<div class="info">
    <h1 style="
    text-align: center;">@ViewBag.Title</h1>


<p>
    Hier komt de tekst omtrent informatie van het vak projecten I. Dit vak is meestal een opdracht die het hele 2e semester op zich
    neemt. Hierbij wordt in teams van 3-4 personen samengewerkt om het project tot een goed einde te brengen. Deze opdracht 
    varieert vaak van genre maar blijft wel gelijklopend met de vorige taken. Dit jaar bijvoorbeeld was de opdracht het maken
    van een RPG(Role Playing Game), het jaar daarvoor moesten de groepen het bekende taalspelletje lingo maken. Dit jaar 
    waren de beschikbare middelen wel iets uitgebreider. Het gebruik van JavaFx was toegestaan voor de 2ejaar's-studenten. 
    Dit is ingebouwde software die het maken van GUI's(Graphical User Interface) vergemakkelijkt.
</p>
</div>