@{
    ViewBag.Title = "Projecten II";
    
}
<div class="info">
    <h1 style="
    text-align: center;">@ViewBag.Title</h1>


<p>
    Hier komt de tekst omtrent informatie van het vak projecten II. Dit vak is meestal een opdracht die het hele 2e semester op zich
    neemt. Hierbij wordt in teams van 3-4 personen samengewerkt om het project tot een goed einde te brengen. Dit vak is uitsluitend
    voor de studenten van het 2e jaar. 
</p>
</div>