@{
    ViewBag.Title = "Info over stages";
    
}
<div class="info">
    <h1 style="
    text-align: center;">@ViewBag.Title</h1>


<p>
    Hier komt de tekst omtrent informatie van de Stage. Dit vak is meestal een opdracht die het hele 2e semester op zich
    neemt. Hierbij wordt alleen bij een bedrijf gewerkt gedurende het gehele semester. Dit vak is uitsluitend
    voor de studenten van het 3e jaar. 
</p>
</div>