


@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}*@
<h2>Selecteer Account</h2>
   <p>
        @Html.ActionLink("Registreer als student", "RegistreerStudent") 
    </p>
    <p>
        @Html.ActionLink("Registreer als bedrijf", "Register") 
    </p>                                       



