@model projecten.Models.SelectAccountModel


@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}*@
<h2>Selecteer Account</h2>
   <p>
        @Html.ActionLink("log in als student", "LoginStudent") 
    </p>
    <p>
        @Html.ActionLink("Log in als bedrijf", "Login") 
    </p>                                       



