@{
    ViewBag.Title = "Welkom";   
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="subtitle">
                <h1>@ViewBag.Title</h1>

            </hgroup>
        </div>

    </section>
Bekijk de beschikbare @Html.ActionLink("stageopdrachten", "StageOpdrachten") of ga naar de @Html.ActionLink("studenten","Studenten")
}
