@model projecten.Models.Domain.StageOpdracht

@{
    ViewBag.Title = "Voorkeur instellen";
}

<h2>@ViewBag.Title</h2>


    <h3>Geeft u de voorkeur aan opdracht @Model.Naam ?</h3>

@using (Html.BeginForm())
 {
     <p>
         <input class="linkbutton" type="submit" value="Ja" /> |
         @Html.ActionLink("Terug naar lijst", "StageOpdrachten",null, new {@class="linkbutton"})
     </p>
 }

